@charset "UTF-8";

@font-face {
    font-family: 'HeirofLightRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button {
    color: #DEC686;
    font-family: 'HeirofLightBold';
    font-size: 50px;
    text-shadow: 2px 2px 0px #795324;
    background-size: cover;
	border: 2px solid #847550;
    width: 400px;
    height: 140px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.5), -4px -4px 30px 0px rgba(0, 0, 0, 0.200), 7px 7px 20px 0px rgba(0, 0, 0, 0.200), 4px 4px 30px 0px rgba(0, 0, 0, 0.200);
}

.backBtn {
    width: 140px;
    height: 120px;
}

.backBtn:hover {
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.5) inset;
}

.submitBtn{
    color: #DEC686;
    font-family: 'HeirofLightBold';
    font-size: 50px;
    text-shadow: 2px 2px 0px #795324;
    background-size: cover;
	border: 2px solid #847550;
    width: 400px;
    height: 140px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submitBtn:hover{
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.5), -4px -4px 30px 0px rgba(0, 0, 0, 0.200), 7px 7px 20px 0px rgba(0, 0, 0, 0.200), 4px 4px 30px 0px rgba(0, 0, 0, 0.200);
}

/* Start Page */

#spLoginBtn {
    position: absolute;
    top: 700px;
    left: 550px;
}

#spJoinBtn {
    position: absolute;
    top: 700px;
    left: 1000px;
}

#spStartBtn {
    position: absolute;
    top: 700px;
    left: 550px;
}

#spLogoutBtn {
    position: absolute;
    top: 700px;
    left: 1000px;
}

/* Login Page */

#lpIdTextbox {
    font-family: 'HeirofLightRegular';
    font-size: 40px;
    width: 700px;
    height: 100px;
    position: absolute;
    top: 350px;
    left: 600px;
}

#lpPwdTextbox {
    font-family: 'HeirofLightRegular';
    font-size: 40px;
    width: 700px;
    height: 100px;
    position: absolute;
    top: 500px;
    left: 600px;
}

#lpLoginBtn {
    position: absolute;
    top: 720px;
    left: 750px;
}

/* Main Page */

.text-container {
    position: absolute;
    width: 80vw;
    border: 2px solid black;
    height: 22vh;
    left: 10vw;
    top: 70vh;
   	display: flex;
}

.text-container .profile {
	width: 22vh;
	height: 100%;
	border-right: 1px solid black;
}

.text-container .profile .img {
    width: 100%;
    margin: 0px auto;
}

.text-container .profile .img img {
    width: 100%;
    height: 22vh;
    object-fit: cover;
}

.text-container .profile p {
    top: -25px;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.533);
    text-align: center;
    margin: 0px;
}

/* Join Page */

#jpIdTextbox {
    font-family: 'HeirofLightRegular';
    font-size: 40px;
    width: 700px;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 600px;
}

#jpPwdTextbox {
    font-family: 'HeirofLightRegular';
    font-size: 40px;
    width: 700px;
    height: 100px;
    position: absolute;
    top: 440px;
    left: 600px;
}

#jpPwdCkTextbox {
    font-family: 'HeirofLightRegular';
    font-size: 40px;
    width: 700px;
    height: 100px;
    position: absolute;
    top: 580px;
    left: 600px;
}

#jpJoinBtn {
    position: absolute;
    top: 750px;
    left: 750px;
}